<mat-toolbar class='nav navbar-fixed-top'>
  <mat-toolbar-row>
    <button mat-button>
      <h3>Project Mean</h3>
</button>
    
  <button mat-button class="homeMrg"><mat-icon>home</mat-icon></button>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/signup"><span><span class="glyphicon glyphicon-user"> </span> SignUp</span></button>
  <button mat-button routerLink="/login"><span><span class="glyphicon glyphicon-log-in"> </span> Login</span></button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
