
.border {
    border: 2px solid grey;
    border-radius: 9px;
   /* height: 720px;*/
    width: 436px;
	background-color: white
    
}
.font{
	font-color: #9E9E9E;
	padding-left:50px;
}
.fontEmail{
	font-color: #9E9E9E;
	padding-left:30px;
}
.margin{
	display: block;
	margin-top: 55px;
	margin-bottom: 130px;
}
example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.input{
	padding: 10px 40px 10px
}
.button{
	background-color: #5C6BC0;
	color: white;
	width: 150px
}
.button1{
	width: 150px;
	margin-left: 40px
}


