<div class="container">
  <div class="margin">
<div class="col-md-4 col-md-offset-4">
  <div class="border" >
    <h1 class="font">Signup</h1>
    <!-- angular form -->
    <form class="example-form input" (ngSubmit)="newUser()" #userForm="ngForm">
        <!-- Email -->
      <div>
      <mat-form-field class="example-full-width">
        <span class="fas fa-at"></span>
        <mat-label class='col-md-4 fontEmail'>
          <p>Email</p>
        </mat-label>
        <input class="col-md-4 fontEmail" name="email" #userMail="ngModel" [(ngModel)]="user.email" matInput placeholder="Please enter your email here...." required email />
      </mat-form-field>
      <div *ngIf="userMail.invalid && (userMail.dirty || userMail.touched)" class="alert alert-danger">
          <span *ngIf="userMail.dirty">
            Please enter valid email
          </span>
          <div *ngIf="userMail.errors.required">
            Email is required.
          </div>
        </div>
      </div>
      <!--  username -->
      <div>
      <mat-form-field class="example-full-width">
        <span class="fas fa-user"></span>
        <mat-label class='col-md-4 fontEmail'>
          <p>UserName</p>
        </mat-label>
        <input class="col-md-4 fontEmail" name="name" #userName="ngModel" [(ngModel)]="user.username" matInput minlength="5" placeholder="Please enter your UserName here...." required>
              </mat-form-field>
        <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert alert-danger">
          <div *ngIf="userName.errors.required">
            UserName is required.
          </div>
          <div *ngIf="userName.errors.minlength">
            UserName must be at least 5 characters long.
          </div>
        </div>
      </div>
      <!-- password -->
      <div>
      <mat-form-field class="example-full-width">
        <span class="fas fa-key"></span>
        <mat-label class='col-md-4 fontEmail'>
          <p>Password</p>
        </mat-label>
        <input matInput class="col-md-4 fontEmail" name="Pwd" #userPwd="ngModel" [(ngModel)]="user.password" minlength="8" placeholder="Please enter your password here.." [type]="hide ? 'password' : 'text'" required password/>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
        <div *ngIf="userPwd.invalid && (userPwd.dirty || userPwd.touched)" class="alert alert-danger">
          <div *ngIf="userPwd.errors.required">
            Password is required.
          </div>
          <div *ngIf="userPwd.errors.minlength">
            Password must be at least 8 characters long.
          </div>
        </div>
      </div>
      <!-- confirm password -->
      <mat-form-field class="example-full-width">
        <span class="fas fa-key"></span>
        <mat-label class='col-md-4 fontEmail'>
          <p>Confirm</p>
        </mat-label>
        <input matInput class="col-md-4 fontEmail" name="Pwd" [(ngModel)]="user.cnfPassword" placeholder="Please confirm your password here.." [type]="hide ? 'password' : 'text'" required>
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      </mat-form-field>
      <!-- date of birth -->
      <div>
      <mat-form-field class="example-full-width">
        <span class="fas fa-calendar-alt"></span>
        <mat-label class='col-md-4 fontEmail'>
          <p>Date Of Birth</p>
        </mat-label>
        <input matInput class="col-md-4 fontEmail" #userDob="ngModel" name="DOB" [(ngModel)]="user.DOB" type="date" required>
      </mat-form-field>
         <div *ngIf="userDob.invalid && (userDob.dirty || userDob.touched)" class="alert alert-danger">
          <div *ngIf="userDob.errors.required">
            DOB is required.
          </div>
        </div>
      </div>
      <!-- mobile number -->
      <div>
      <mat-form-field class="example-full-width">
        <span class="fas fa-phone"></span>
        <mat-label class='col-md-4 fontEmail'>
          <p>Mobile</p>
        </mat-label>
        <input matInput class="col-md-4 fontEmail" name="mobile" #userMbl="ngModel" [(ngModel)]="user.mobile" type="number" minlength="12" placeholder="Please enter your mobile number..." required/>
      </mat-form-field>
        <div *ngIf="userMbl.invalid && (userMbl.dirty || userMbl.touched)" class="alert alert-danger">
          <div *ngIf="userMbl.errors.required">
            Mobile No. is required.
          </div>
          <div *ngIf="userMbl.errors.minlength">
            Mobile No. must be at least 10 numbers long.
          </div>
        </div>
      </div>
      <mat-checkbox>I accept terms & conditions.</mat-checkbox>
      <button mat-raised-button class="button" style="margin-top: 20px" [disabled]="userForm.invalid"><span> <span class="fas fa-user-plus"> </span> Signup</span>
      </button>
    </form>
   <!--  <button mat-raised-button class="button1" (click)='backClicked()'>Back</button> -->
<div style="margin-bottom: 45px"></div>

  </div>
</div>
</div>
</div>